{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>forgot password</title>
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css" />



{% endblock title%}

{% block content %}

<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Forgot Password</h4>
            <form method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                
                <div class="mb-3">
                    <input class="form-control" name="email" id="email" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <span id="emailError"></span>
                </div>
                <span>
                    <div class="mb-3">
                        <input class="form-control" name="password" style="display: none;" id="password" placeholder="Enter new password" type="password">
                    </div>
                    <div class="mb-3">
                        <span id="passwordError"></span>
                    </div> 
                </span>
                <span>
                    <div class="mb-3">
                        <input class="form-control" name="OTP" style="display: none;" id="OTP" placeholder="Enter OTP" type="text">
                    </div> 
                    <div class="mb-3">
                        <span id="OTPError"></span>
                    </div>
                </span>
                <div class="mb-4">
                    <button onclick="sentOTP()" class="btn btn-primary w-100" id="ok"> Sent OTP </button>
                </div> <!-- form-group// -->
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100" style="display: none;" id="submit"> Submit </button>
                </div> 
            </form>
            <span style="color: rgb(142, 66, 66);" class="mb-2" id="forgotError"></span>
            {% for message in messages %}
                <span style="color: rgb(142, 66, 66);" class="mb-2">{{message}}</span>
            {% endfor %}
            <p class="text-center mb-4"><a href="{% url 'account:login' %}">Return to Log In</a></p>
            <p class="text-center mb-4">Don't have account? <a href="{% url 'account:signup' %}">Sign up</a></p>
        </div>
    </div>
</section>


<script>


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    function validateForm(){

        var email=document.getElementById('email').value.trim();
        var password=document.getElementById('password').value.trim();
        var OTP=document.getElementById('OTP').value.trim();

        var emailError=document.getElementById('emailError');
        var passwordError=document.getElementById('passwordError');
        var OTPError=document.getElementById('OTPError');

        emailError.innerHTML = '';
        passwordError.innerHTML = '';
        OTPError.innerHTML = '';

        if (email===""){
            emailError.innerHTML = 'email is required';
            return false;
        }
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (!email.match(emailRegex)){
            emailError.innerHTML = 'enter a valid email';
            return false;
        }

        if (password===""){
            passwordError.innerHTML = 'password is required';
            return false;
        }
        var upperCaseLetters = /[A-Z]/g;
        if (!password.match(upperCaseLetters)){
            passwordError.innerHTML="Password must contain at least one uppercase letter.";
            return false;
        }
        var lowerCaseLetters = /[a-z]/g;
        if (!password.match(lowerCaseLetters)){
            passwordError.innerHTML="must contain at least one lowercase letter.";
            return false;
        }
        var num = /[0-9]/g;
        if (!password.match(num)){
            passwordError.innerHTML=" Password must contain numbers.";
            return false;
        }
        if (password.length<8){
            passwordError.innerHTML=" Password must contain 8 characters.";
            return false;
        }

        
        if (OTP === "" && document.getElementById('OTP').style.display !== 'none') {
            OTPError.innerHTML = 'OTP is required';
            return false;
        }
        

        return true;
    }

    

    function sentOTP(){
        event.preventDefault();
        var forgotError=document.getElementById('forgotError');
        var email=document.getElementById('email').value;
        var otp = document.getElementById('OTP');
        var submit = document.getElementById('submit');
        var ok = document.getElementById('ok');
        var password= document.getElementById('password');

        fetch("/account/verify/", {

        method: 'post',
        headers: {
            // 'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body : JSON.stringify({ 'email':email})
    })
    .then(response => {
        return response.json()
    })
    .then(data => {
        if ('success' in data){
            ok.style.display='none';
            otp.style.display='block';
            submit.style.display='block';
            password.style.display='block';
            forgotError.textContent=data.success;
        }
        else{
            forgotError.textContent=data.fail;
        }
    })
    }
</script>

{% endblock content %}