{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>addresses</title>
<link rel="stylesheet" href="{% static 'css/new_css.css' %}">
<style>

.wishlist{
    background-color: antiquewhite;
    padding: 10px;
    box-shadow: 5px 5px 8px #cecece;
}

.wishlist .items{
    margin-top: 20px;
}

.wishlist .items .item{
    display: flex;
    margin-bottom: 2px;
    background-color: #fff;
    padding: 20px;
}
.wishlist .items .item .title h5:hover{
    color: rgb(84, 84, 207);
}

.items .item .img img{
    max-width: 100px;
}

.delete i{
    color: #a1a1a1;
}
</style>


{% endblock title%}

{% block another %}

<div class="container-fluid">
    <div class="row">
        {% include 'account_sidebar.html' %}
        <div class="col-lg-9 col-md-3 col-sm-12">
            <div class="wishlist">
                <div class="title">
                    <h2>My Wishlist</h2>
                </div>
                <div class="items">
                    {% for item in wishlist.products.all %}
                    <div class="item">
                        <div class="img">
                            <img src="{{item.product.product_images.first.image.url}}" alt="image">
                        </div>
                        <div class="title">
                            <h5>{{item.product.product_name}} - {% for val in item.value.all %}
                                {{val}}{% if not forloop.last %},{% endif %}
                            {% endfor %}</h5>
                            <h6 style="color: rgb(137, 109, 72);">
                            
                            </h6>
                            <h5>{{item.new_price}}</h5>
                        </div>
                        <div class="delete ms-auto d-flex align-items-center">
                            <a href="{% url 'account:whishlist_delete' item.uid %}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock another %}