{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>
<style>
    .product {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (max-width: 991.98px) {
    .product {
      margin-bottom: 30px; } }
  .product .img-prod {
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
    background: #fff;
    z-index: 1; }
    .product .img-prod .overlay {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: 0;
      z-index: -1;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #dbcc8f;
      width: 230px;
      height: 230px;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .product .img-prod span.status {
      padding: 10px 1px;
      color: #000000;
      font-weight: 400;
      background: #dbcc8f;
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      text-orientation: sideways;
      text-align: right;
      text-orientation: sideways;
      margin: 0rem;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 12px;
      z-index: 1; }
    .product .img-prod img {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
  .product .img {
    display: block;
    height: 500px; }
  .product .icon {
    width: 60px;
    height: 60px;
    background: #fff;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .product .icon span {
      color: #000000; }
  .product:hover .icon {
    opacity: 1; }
  .product:hover .img-prod .overlay {
    opacity: 1; }
  .product .text {
    position: relative;
    width: 100%;
    background-color: #e4e2e0; }
    .product .text h3 {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase; }
      .product .text h3 a {
        color: #000000; }
    .product .text p.price {
      margin-bottom: 0;
      color: #000000;
      font-weight: 400; }
      .product .text p.price span.price-dc {
        text-decoration: line-through;
        color: #b3b3b3; }
      .product .text p.price span.price-sale {
        color: #000000; }
    .product .text .cat, .product .text .rating {
      width: 50%; }
    .product .text .cat span {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.3); }

    .product:hover img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }

.prod-img-bg {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  height: 100%;
  display: block; }

.product-details h3 {
  font-size: 30px;
  font-weight: 400; }

.product-details .price span {
  font-size: 30px;
  color: #000000; }

.product-details button i {
  color: #000000; }

.product-details .quantity-left-minus {
  background: transparent;
  padding: 0 15px; }

.product-details .quantity-right-plus {
  background: transparent;
  padding: 0 15px; }

.product-details button, .product-details .form-control {
  height: 40px !important;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #dbcc8f;
  padding: 10px 20px;
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px; }
  .product-details button:hover, .product-details button:focus, .product-details .form-control:hover, .product-details .form-control:focus {
    text-decoration: none;
    outline: none; }

.product-details .form-group {
  position: relative; }
  .product-details .form-group .form-control {
    padding-right: 40px;
    color: #000000;
    background: transparent !important; }
    .product-details .form-group .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #4d4d4d; }
    .product-details .form-group .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #4d4d4d; }
    .product-details .form-group .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: #4d4d4d; }
    .product-details .form-group .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #4d4d4d; }
  .product-details .form-group .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000000; }
    .product-details .form-group .icon span {
      color: #000000; }
    @media (max-width: 767.98px) {
      .product-details .form-group .icon {
        right: 10px; } }
  .product-details .form-group .select-wrap {
    position: relative; }
    .product-details .form-group .select-wrap select {
      font-size: 13px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-transform: uppercase;
      letter-spacing: 2px; }

      .ftco-section {
  padding: 2em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 1em 0; } }


      .ion-ios-star-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M463 192H315.9L271.2 58.6C269 52.1 262.9 48 256 48s-13 4.1-15.2 10.6L196.1 192H48c-8.8 0-16 7.2-16 16 0 .9.1 1.9.3 2.7.2 3.5 1.8 7.4 6.7 11.3l120.9 85.2-46.4 134.9c-2.3 6.5 0 13.8 5.5 18 2.9 2.1 5.6 3.9 9 3.9 3.3 0 7.2-1.7 10-3.6l118-84.1 118 84.1c2.8 2 6.7 3.6 10 3.6 3.4 0 6.1-1.7 8.9-3.9 5.6-4.2 7.8-11.4 5.5-18L352 307.2l119.9-86 2.9-2.5c2.6-2.8 5.2-6.6 5.2-10.7 0-8.8-8.2-16-17-16zm-127.2 92.5c-10 7.2-14.2 20.2-10.2 31.8l30.1 87.7c1.3 3.7-2.9 6.8-6.1 4.6l-77.4-55.2c-4.9-3.5-10.6-5.2-16.3-5.2-5.7 0-11.4 1.7-16.2 5.2l-77.4 55.1c-3.2 2.3-7.4-.9-6.1-4.6l30.1-87.7c4-11.8-.2-24.8-10.3-32l-81-57.1c-3.2-2.2-1.6-7.3 2.3-7.3H196c12 0 22.7-7.7 26.5-19.1l29.6-88.2c1.2-3.6 6.4-3.6 7.6 0l29.6 88.2c3.8 11.4 14.5 19.1 26.5 19.1h97.3c3.9 0 5.5 5 2.3 7.2l-79.6 57.5z' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  color: #dbcc8f;
}
</style>

<style>
  .section-padding {
    padding: 25px 0;
}

.bg-grey-9 {
    background-color: #f4f5f9;
}

.heading-tab {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.banner-img.style-2 {
    border: 1px solid #e2e9e1;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    height: 295px;
}
.banner-img {
    position: relative;
    clear: both;
}.banner-img .banner-text {
    position: absolute;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 30px;
}


.banner-img .banner-text span {
    color: #90908e;
}

.banner-img.style-2 h4 {
  color: #fff;
}
.banner-img .banner-text h4 {
    font-weight: 600;
    margin-bottom: 15px;
}

.banner-img:hover img {
    opacity: 0.9;
}


.bg-grey-9 {
      background-color: #c2bbbb;
    }
    .section-title {
      color: #333;
      text-align: center;
    }
    .nav-link {
      color: #333;
    }
    .nav-link.active {
      font-weight: bold;
    }

    .product-content-wrap {
      padding: 0 20px 15px 20px;
    }
    .product-price {
      font-weight: bold;
    }

    .bg-grey-9 {
  background-color: #f5f5f5;
}
.section-title {
  color: #333;
  text-align: center;
}
.nav-link {
  color: #333;
}
.nav-link.active {
  font-weight: bold;
}
.product-img img {
  width: 100%;
  height: auto;
}
.product-price {
  font-weight: bold;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  text-align: center;
}

.slider-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.product-cart-wrap {
  max-width: 180px;
  position: relative;
  background-color: #fff;
  border: 1px solid #e7e0cc;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 10px;
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

@media (max-width: 768px) {
    .product-cart-wrap {
        max-width: calc(50% - 35px); /* Set to 50% width on smaller screens */
    }
}

@media (max-width: 576px) {
    .product-cart-wrap {
        max-width: 40%; /* Set to 100% width on even smaller screens */
    }
}

.product-img {
  position: relative;
  overflow: hidden;
}

.product-img img {
  transition: transform 0.3s ease-in-out;
}

.product-img:hover img {
  transform: scale(1.1);
}



.product-category a {
  color: #666;
  font-size: 14px;
}

.product-category a:hover {
  color: #333;
}

.product-category a::before {
  content: "/";
}

.product-category a:first-child::before {
  content: "";
}


.product-content-wrap p a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.product-content-wrap p a:hover {
  color: #007bff;
}

.rating-result {
  display: inline-block;
}

.rating-result span {
  display: inline-block;
  position: relative;
  color: #f39c12;
}

.rating-result span:before {
  content: "★";
  position: absolute;
  top: 0;
  left: 0;
}

.rating-result span span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
}



.product-price span {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.old-price {
  color: #999;
  text-decoration: line-through;
}



.categories-section {
  background-color: #f8f9fa;
}

.section-title {
  color: #333;
}

.category-item {
  transition: transform 0.3s ease;
}

.category-item:hover {
  transform: translateY(-5px);
}

.categories-section {
  padding: 50px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.category-item {
  text-align: center;
  margin-bottom: 30px;
}

.category-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.category-item h3 {
  margin-top: 20px;
  font-size: 24px;
}

.category-item .btn-primary {
  margin-top: 20px;
}



</style>

{% endblock title%}

{% block another %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for banner in banners %}
      <div class="carousel-item {% if forloop.first %}active{% endif %} banner-image" style="position: relative; overflow: hidden; z-index: 1;">
        <img src="/media/{{ banner.image }}" style="width: 100%; height: auto;" class="d-block w-100 " alt="gf">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>



<section class="ftco-section bg-light">
    <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h2 class="mb-4">New Items</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>   		
    </div>
    <div class="container">
        <div class="row">
            {% for product in products|slice:":4" %}
            <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
                <div class="product d-flex flex-column">
                    <a href="{% url 'products:product' product.uid %}" class="img-prod"><img class="img-fluid" src="{{product.product_images.first.image.url}}" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3">
                        <div class="d-flex">
                            <div class="cat">
          
                            </div>
                            <div class="rating">
                                <p class=" float-end mb-0">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <h3><a href="#">{{product.product_name}}</a></h3>
                        <div class="pricing">
                            <p class="price"><span>₹{{product.price}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




<section class="bg-grey-9 section-padding">
  <div class="container pt-25 pb-25" style="background-color: #e9ddc4; padding: 30px;">
    <div class="heading-tab d-flex mb-4">
      <div class="heading-tab-left">
        <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
      </div>  
    </div>
    <div class="row">
      <div class="col-lg-3 d-none d-lg-flex">
        <div class="banner-img style-2">
          <img style="max-width: 100%;" src="media/product/pexels-ardiansyah-putra-16241419.jpg" alt="">
          <div class="banner-text">
            <h4 style="margin-top: 5px;">Save 17% on <br>Breakfast</h4>
            <a href="shop-grid-right.html" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="tab-contentn" id="myTabContent-1">
          <!-- Tab One Content -->
          
          <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
            <div class="carausel-4-columns-cover arrow-center position-relative">
              <!-- Products for Tab One -->
              <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows">
                <span class="slider-btn slider-prev slick-arrow" ><i class="fi-rs-angle-left"></i></span>
                <span class="slider-btn slider-next slick-arrow" ><i class="fi-rs-angle-right"></i></span>
              </div>
              <div class="carausel-4-columns carausel-arrow-center slick-initialized slick-slider d-flex " id="carausel-4-columns">
                <!-- Product 1 -->
                {% for product in products|slice:":4" %}
                <div class="product-cart-wrap" >
                  <!-- Product Image -->
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html" tabindex="-1">
                        <img class="default-img" style="border-radius: 20px;" src="{{product.product_images.first.image.url}}" alt="">
                      </a>
                    </div>
                    <!-- Product Actions -->
                    <div class="product-action-1">
                      <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal" tabindex="-1">
                        <i class="fi-rs-eye"></i>
                      </a>
                      <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="-1">
                        <i class="fi-rs-heart"></i>
                      </a>
                      <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="-1">
                        <i class="fi-rs-shuffle"></i>
                      </a>
                    </div>
                  </div>
                  <!-- Product Content -->
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a style="text-decoration: none;" href="shop-grid-right.html" tabindex="-1">{{product.Category.category_name}} </a>
                    </div>
                    <p style="margin: 0;"><a href="shop-product-right.html" tabindex="-1">{{product.product_name}}</a></p>
                    <!-- Product Rating -->
                    <!-- <div class="rating-result" title="90%">
                      <span>
                        <span>70%</span>
                      </span>
                    </div> -->
                    <!-- Product Price -->
                    <div class="product-price">
                      <span>$152.85 </span>
                      <span class="old-price">{{product.price}}</span>
                    </div>
                    <!-- Add to Cart Button -->
                    <div class="product-action-1 show">
                      <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html" tabindex="-1">
                        <i class="fi-rs-shopping-bag-add"></i>
                      </a>
                    </div>
                  </div>
                </div>
          {% endfor %}
                <!-- Product 2, 3, 4, etc. goes here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The actual snackbar -->
<div id="snackbar">Some text some message..</div>




<script>
    function moveCards(direction) {
        const outCard = document.querySelector('.out-card');
        const cardWidth = document.querySelector('.cards').offsetWidth + 20; // Including margin

        if (direction === 'left') {
            outCard.style.transform = `translateX(${cardWidth}px)`;
        } else if (direction === 'right') {
            outCard.style.transform = `translateX(-${cardWidth}px)`;
        }

        // Reset the transform after the transition completes
        setTimeout(() => {
            outCard.style.transform = 'translateX(0)';
        }, 500); // Adjust the duration to match your CSS transition duration
    }
</script>
<script src="{% static 'js/image_zoom.js' %}" type="text/javascript"></script>
{% endblock another %}