{% extends 'adminpage/base.html' %}
{% load static %}

    <!-- Template CSS -->
    {% block title  %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}


    {% block content %}

    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">User details</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label" >Username</label>
                                <input type="text" readonly value="{{profile.user.username}}" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label for="product_title" class="form-label" >Email</label>
                                <input type="email" value="{{profile.user.email}}" readonly value="password" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label for="product_title" class="form-label" >Mobile number</label>
                                <input type="tel" value="{{profile.mobile_number}}" readonly value="password" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label for="product_title" class="form-label" >password</label>
                                <input type="password" readonly value="password" class="form-control" id="email">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label" >Shipping Address</label>
                                <textarea name="description" readonly id="description" class="form-control" rows="4">{{profile.user.address.first.name}},{{profile.user.address.first.address}},{{profile.user.address.first.locality}}, {{profile.user.address.first.city}}</textarea>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                    <div class="col-lg-5">
                        <div class="table-responsive card">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        {% for ordered_item in order.ordered_items.all %}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="{{ordered_item.image.product_images.first.image.url}}" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"> {{ordered_item.ordered_product_name}} </div>
                                                </a>
                                            </td>
                                                <td>{{ ordered_item.qty }}</td>
                                            <td class="text-end"> {{ordered_item.unit_price}} </td>
                                        </tr>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% for message in messages %}
                    <span style="color: rgb(142, 66, 66);" class="mb-2">{{message}}</span>
                    {% endfor %}
                </div>
            </div>
        </section>
    </form>
    
    
    {% endblock content %}