{% extends 'adminpage/base.html' %}
{% load static %}

    <!-- Template CSS -->
    {% block title  %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}


    {% block content %}

    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Users list</h2>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <form id="form_submit" action="" method="get">
                    {% csrf_token %}
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" name="search_user" {% if search %} value="{{search}}" {% endif %} placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select name="status" class="form-select" onchange="document.getElementById('form_submit').submit()">
                            <option {% if not status %} selected {% endif %}>Show all</option>
                            <option {% if status == 'Active' %} selected {% endif %}>Active</option>
                            <option {% if status == 'Disabled' %} selected {% endif %}>Disabled</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </form>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Seller</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Registered</th>
                                <th class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if profiles %}
                            {% for profile in profiles %}
                            <tr>
                                <td width="40%">
                                    <a href="{% url 'adminpage:edit_user' profile.user.id %}" class="itemside">
                                        <!-- <div class="left">
                                            <img src="{{profile.profile_image.url}}" class="img-sm img-avatar" alt="Userpic">
                                        </div> -->
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title">{{profile.user.username}}</h6>
                                            <small class="text-muted">{{profile.user.id}}</small>
                                        </div>
                                    </a>
                                </td>
                                <td>{{profile.user.email}}</td>
                                <td>
                                    {% if profile.user.is_active %}
                                    <span class="badge rounded-pill alert-success">Active</span>
                                    {% else %}
                                    <span class="badge rounded-pill alert-success" style="color: rgb(162, 53, 53);">Inactive</span>
                                    {% endif %}
                                    
                                </td>
                                <td>{{profile.user.date_joined}}</td>
                                <td class="text-end">
                                    {% if profile.block %}
                                    <a href="{% url 'adminpage:block_user' profile.user.id %}" class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> unblock
                                    </a>
                                    {% else %}
                                    <a href="{% url 'adminpage:block_user' profile.user.id %}" class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-delete_forever"></i> Block
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr><td>No users found</td></tr>
                            {% endif %}
                        </tbody>
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
</main>
    
        
    {% endblock content %}



        