{% extends 'navbar.html' %}
{% load static %}

{% block title %}
    <title>Product Details: {{ product.product_name }}</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">

    <style>
        p{
            margin-bottom: 1rem;
        }

        .product-details h3 {
    font-size: 30px;
    font-weight: 400; }
  
  .product-details .price span {
    font-size: 30px;
    color: #000000; }
  
  .product-details button i {
    color: #000000; }
  
  .product-details .quantity-left-minus {
    background: transparent;
    padding: 0 15px; }
  
  .product-details .quantity-right-plus {
    background: transparent;
    padding: 0 15px; }
  
  .product-details button, .product-details .form-control {
    height: 40px !important;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #dbcc8f;
    padding: 10px 20px;
    background: transparent !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 14px; }
    .product-details button:hover, .product-details button:focus, .product-details .form-control:hover, .product-details .form-control:focus {
      text-decoration: none;
      outline: none; }

      .form-group{
        margin-bottom: 1rem;
      }
  
  .product-details .form-group {
    position: relative; }
    .product-details .form-group .form-control {
      padding-right: 40px;
      color: #000000;
      background: transparent !important; }
      .product-details .form-group .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #4d4d4d; }
      .product-details .form-group .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: #4d4d4d; }
      .product-details .form-group .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #4d4d4d; }
      .product-details .form-group .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: #4d4d4d; }
    .product-details .form-group .icon {
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 14px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #000000; }
      .product-details .form-group .icon span {
        color: #000000; }
      @media (max-width: 767.98px) {
        .product-details .form-group .icon {
          right: 10px; } }
    .product-details .form-group .select-wrap {
      position: relative; }
      .product-details .form-group .select-wrap select {
        font-size: 13px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-transform: uppercase;
        letter-spacing: 2px; }


    </style>
{% endblock title %}

{% block another %}
    <section class="ftco-section" style="margin-top: 4rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate image">
                    <div class="" style="width: 80%; height: 560px; overflow: hidden;">
                        <img style="width: 100%; height: 100%; object-fit: cover;" id="big_{{product.uid}}" onmouseover="passUid('{{product.uid}}')"  src="/media/{{product.product_images.first.image}}" class="img" alt="Food image">
                    </div>
                    <div class="d-flex other_images">
                        {% for image in other_images %}
                        <img id="small_{{image}}"onmouseover="" onclick="showImage('{{image}}', '{{product.uid}}')" src="/media/{{image}}" style="border: none;" alt="">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <div id="lens"></div>
                    <h3 id="product_name">{{product.product_name}}</h3>
                    <input type="hidden" value="{{product.uid}}" id="product_uid">
                    <input type="hidden" value="{{pro_attrbute.uid}}" id="pro_attrbute_uid">
                    <p class="price"><span id="product_price">₹ {{pro_attrbute.new_price}}</span></p>
                    <p id="product_description">{{product.product_description}}</p>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group d-flex">
                                {% for key, values in dict %}
                                <div class="select-wrap mx-2">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <h5>{{key}}</h5>
                                    <select name="values" data-key="{{ key }}" onclick="selectvariants(this, '{{key}}')" id="values" class="form-control values-select">
                                        {% for value in values %}
                                            <option>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        {% endfor %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                        </div>
                        <div>
                            {% if flat %}
                            <p><a href="{% url 'account:add_to_wishlist' pro_attrbute.uid %}" id="add_to_wishlist" style="color: #4d4d4d; text-decoration-line: underline;">Add to Whishlist</a></p>
                            {% else %}
                            <p><a id="add_to_wishlist" style="color: #4d4d4d; text-decoration-line: underline;" onclick="notUser('Plese Login to access wishlist')">Add to Whishlist</a></p>
                            {% endif %}
                        </div>
                    </div>
                    <p>
                        {% if flat %}
                        {% if product.is_listed %}
                        <a class="btn btn-black py-3 px-5 mx-2" onclick="add_to_cart('{{product.uid}}')">Add to Cart</a>
                        {% else %}
                        <a class="btn btn-black py-3 px-5 mx-2">Currently not available</a>
                        {% endif %}
                        {% else %}
                        <a class="btn btn-black py-3 px-5 mx-2" onclick="notUser('Please Login to access cart')">Add to Cart</a>
                        {% endif %}

                        {% if flat %}
                        {% if product.is_listed %}
                        <a href="{% url 'products:checkout' pro_attrbute.uid %}" id="buynowbtn" class="btn btn-primary py-3 px-5" >Buy now</a>
                        {% endif %}
                        {% else %}
                        <a href="#"  class="btn btn-primary py-3 px-5" onclick="notUser('Please Login to Buy items')">Buy now</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <h3>Similiar products</h3>
            <div class="similiar_products">
                {% for product in products %}
                <div class="similiar_product">
                    <div class="product__image">
                        <!-- Your product image here -->
                        <img src="/media/{{product.product_images.first.image}}" alt="Product 1">
                    </div>
                    <div class="product__info">
                        <h3 class="product__name">{{product.product_name}}</h3>
                        <p class="product__price">₹ {{product.price}}</p>
                    </div>
                </div>

                <!-- Repeat similar structure for other products -->
                {% endfor %}
                
            </div>
        </div>
    </div>

    <div id="snackbar">Some text some message..</div>





    


    {% if messages %}
        {% for message in messages %}
            <script>alert('{{ message }}')</script>
        {% endfor %}
    {% endif %}
    <script>
        function notUser(message){
            var x = document.getElementById("snackbar");
            x.innerHTML=message
            x.classList.add("showing");
            setTimeout(function(){ x.classList.remove("showing"); }, 3000);
        }
    </script>

    <script src="{% static 'js/image_zoom.js' %}" type="text/javascript"></script>
    <script>



        function selectvariants(value, key){
            pro_attrbute_uid=document.getElementById('pro_attrbute_uid');
            buynowbtn=document.getElementById('buynowbtn');
            add_to_wishlist = document.getElementById('add_to_wishlist')
            product_price=document.getElementById('product_price');
            product_uid=document.getElementById('product_uid').value;
            values=document.querySelectorAll('.values-select');
            selectedValues={}
            values.forEach(function(value){
                var selectedKey = value.getAttribute('data-key');
                var selectedValue = value.value;
                selectedValues[selectedKey]=selectedValue;
            })

            fetch('/products/selectvariants/',{
                method: 'post', 
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'value': value.value, 'attribute':key, 'selected_values':selectedValues, 'product_uid':product_uid }),
            })
            .then(response => response.json())
            .then(data =>{
                product_price.innerHTML=data.price;
                if (data.pro_attrbute_uid){
                    pro_attrbute_uid.value=data.pro_attrbute_uid;
                    buynowbtn.href="/products/checkout/"+data.pro_attrbute_uid;
                    add_to_wishlist.href = "/account/add_to_wishlist/"+data.pro_attrbute_uid;
                }
                else{
                    buynowbtn.href='';
                    add_to_wishlist.href = '';
                }
            })
        }
    </script>
{% endblock another %}

