<div class="col-md-3 sidebar-container sidebar-collapse" id="sidebar-collapse">
    <div class="user-session">
        <h5>Welcome, {{ user.first_name }}</h5>
    </div>
    <div class="user-session">
        <a href="{% url 'account:my_orders' %}" class="session-link"><i class="fas fa-box"></i> My Orders</a>
    </div>
    <div class="sidebar">
        <h6>Account</h6>
        <ul>
            <li class="sidebar-item active"><a href="{% url 'account:account' %}"><i class="fas fa-user"></i><span class="icon-text">Profile Information</span></a></li>
            <li class="sidebar-item"><a href="{% url 'account:addresses' %}"><i class="fas fa-address-book"></i><span class="icon-text">Manage Address</span></a></li>
        </ul>
        <h6>Payments</h6>
        <ul>
            <li class="sidebar-item"><a href="{% url 'account:wallet' %}"><i class="fas fa-credit-card"></i><span class="icon-text">Wallet</span></a></li>
        </ul>
        <h6>My Stuff</h6>
        <ul>
            <li class="sidebar-item"><a href="{% url 'account:coupons' %}"><i class="fas fa-gift"></i><span class="icon-text">My Coupons</span></a></li>
            <li class="sidebar-item"><a href="#"><i class="fas fa-heart"></i><span class="icon-text">My Wishlist</span></a></li>
        </ul>
        <h6>Settings</h6>
        <ul>
            <li class="sidebar-item"><a href="{% url 'account:app_logout' %}"><i class="fas fa-sign-out-alt"></i><span class="icon-text">Logout</span></a></li>
        </ul>
    </div>
</div>
