{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>login</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" >

<style>

.nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .nav-link {
      display: block;
      padding: 0.5rem 1rem;
    }

    .nav-link:hover,
    .nav-link:focus {
      text-decoration: none;
    }

    .nav-link.disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default;
    }

    .custom-navbar {
  position: fixed ; /* Fixed position */
  top: 0; /* Position at the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it appears above other content */
}

    .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem; /* Increased padding for expanded navbar */
      transition: all 0.3s ease; /* Smooth transition */
      height: 0;
    }

    .navbar > .container,
    .navbar > .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .navbar-brand {
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
    }

    .navbar-brand:hover,
    .navbar-brand:focus {
      text-decoration: none;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

    .navbar-collapse {
      flex-basis: 100%;
      align-items: center;
    }

    .navbar-toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }

    .navbar-toggler:hover,
    .navbar-toggler:focus {
      text-decoration: none;
    }

    .navbar-toggler-icon {
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background: no-repeat center center;
      background-size: 100% 100%;
    }

    .expanded .navbar {
      padding: 1.5rem 1rem; /* Adjusted padding for expanded navbar */
    }

    @media (max-width: 575.98px) {
      .navbar-expand-sm > .container,
      .navbar-expand-sm > .container-fluid {
        padding-right: 0;
        padding-left: 0;
      }
    }

    @media (min-width: 576px) {
      .navbar-expand-sm {
        flex-direction: row;
      }
      .navbar-expand-sm .navbar-nav {
        flex-direction: row;
      }
      .navbar-expand-sm .navbar-collapse {
        display: flex !important;
      }
      .navbar-expand-sm .navbar-toggler {
        display: none;
      }
    }


    @media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #000000 !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
}
    }



    #ftco-navbar{
    background: transparent !important;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
    }




</style>
{% endblock title%}



{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar" style="background-color:rgb(145, 30, 30)" id="ftco-navbar">
  <div class="container">
    {% if 'account' in request.path and not 'cart' in request.path %}
    <button id="sidebar-toggle" style="border: none; background: none; cursor: pointer; display: none">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <rect x="2" y="2" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="10" y="2" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="18" y="2" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="2" y="10" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="10" y="10" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="18" y="10" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="2" y="18" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="10" y="18" width="5" height="5" fill="rgb(163, 163, 163)" />
        <rect x="18" y="18" width="5" height="5" fill="rgb(163, 163, 163)" />
      </svg>
    </button>
    {% endif %}

    <a class="navbar-brand" href="{% url 'home:home' %}">Foodie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ms-auto">
        <li>
          <form action="{% url 'products:shop_page'  %}" method="get">
            {% csrf_token %}
            <input class="btn btn-primary" name="search" id="search" type="search" {% if search %} value="{{search}}" {% endif %} placeholder="search products">
          </form>
        </li>
        <li class="nav-item"><a href="{% url 'products:shop_page' %}" class="nav-link">Shop</a></li>
        <li class="nav-item"><a href="{% url 'account:account' %}" class="nav-link">Account</a></li>
        <li class="nav-item"><a href="{% url 'account:wishlist' %}" class="nav-link">Wishlist</a></li>
        <li class="nav-item"><a href="{% url 'account:cart' %}" class="nav-link">Cart</a></li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="{% url 'account:signup' %}" class="nav-link">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block another %}
{% endblock another %}
<div class="site-footer bg-light">
  <div class="container">

    <div class="row justify-content-between">
      <div class="col-lg-4">
        <div class="widget">
          <h3 class="line-top">About</h3>
          <p class="mb-5">Delectus voluptatum distinctio quos eius excepturi sunt pariatur, aut, doloribus officia ea molestias beatae laudantium, quam odio ipsum veritatis est maiores velit quasi blanditiis et natus accusamus itaque. Veniam quidem debitis odio amet voluptas distinctio dicta placeat! Et pariatur doloremque ea veniam. Separated they live.</p>

        </div>
        <div class="widget">
          <h3 class="line-top">Connect with us</h3>
          <ul class="social list-unstyled mb-5">
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <div class="widget">
              <h3 class="line-top">Navigations</h3>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Process</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a href="#">Privacy</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Process</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript to toggle the "expanded" class when the navbar is toggled
  document.querySelector('.navbar-toggler').addEventListener('click', function() {
    document.querySelector('.navbar').classList.toggle('expanded');
  });
</script>
{% endblock content %} 