{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>shop</title>
<link rel="stylesheet" href="{% static 'css/shop.css' %}">

<style>
    
</style>
{% endblock title%}

{% block another %}



<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad" style="margin-top: 3rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <form id="sortForm"  action="{% url 'products:shop_page' %}" method="get">
                {% csrf_token %}
                <div class="shop__sidebar">
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-bs-toggle="collapse" href="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse" data-bs-parent="#accordionExample">
                                    <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll d-flex flex-column" id="category_filter">
                                                    <input type="hidden" name="search" {% if search %} value="{{search}}" {% endif %}>
                                                    {% for category in categories %}
                                                    <label >
                                                        <input type="checkbox" name="category" class="category-checkbox" id="sortcategory" value="{{ category.category_name }}">
                                                        {{ category.category_name }}
                                                    </label>
                                                    {% endfor %}
                                                    <button type="submit"  style="margin: 0; padding: 0; width: 25%; font-size: small;" >save</button>
                                                </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>{% if page.paginator.count == 0 %}
                                    <p>No items found</p>
                                    {% endif %}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                    <select id="sortbyprice" name="sortbyprice" onchange="document.getElementById('sortForm').submit()">
                                        <option value="1">Low To High</option>
                                        <option value="2">High To Low</option>
                                    </select>
                                    <button type="submit" style="display: none;"></button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

                <div id="productListContainer" class="row product">
                    {% for product in page.object_list %}
                    <div class="col-lg-4 col-md-6 col-sm-6" >
                        <div class="product__item">
                            <div class="product__item__pic">
                                {% if not product.is_listed %}
                                <div class="badge-unavailable">Currently not available</div>
                                {% endif %}
                                <a href="{% url 'products:product' product.uid %}">
                                    <img src="{{ product.product_images.first.image.url }}" alt="{{ product.product_name }}">
                                </a>
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <a href="{% url 'products:product' product.uid %}">{{ product.product_name }}</a>
                                </h6>
                                <h3>₹ {{ product.price }}</h3>
                            </div>
                        </div>                        
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="product__pagination">
                            {%if page.has_previous %} {# whether the previous page exists #}
                                <a href="?page={{page.previous_page_number}}"></a>
                            {% endif %}
                            {% for num_page in page.paginator.page_range %}
                            {% if page.number == num_page %}
                            <a class="active" href="?page={{num_page}}">{{num_page}}</a>
                            {% else %}
                            <a class="" href="?page={{num_page}}">{{num_page}}</a>
                            {% endif %}
                            {% endfor %}
                            {%if page.has_next %} {# whether the next page exists #}
                            <a href="?page={{page.next_page_number}}">></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>



    document.addEventListener("DOMContentLoaded", function() {
    var val =  "{{ val }}" ;
    var filter_value = JSON.parse('{{ serialized_data|safe }}') ;
    console.log(filter_value)

    options = document.getElementById('sortbyprice')
    for (var i = 0; i < options.options.length; i++) {
    var option = options.options[i];
    if (options.options[i].value === val) {
        options.options[i].selected = true; 
        break; 
    }  
}

    var categoryList = document.getElementById('category_filter');

    var categories = [];
    var labels = categoryList.getElementsByTagName('label');
    for (var i = 0; i < labels.length; i++) {
        var categoryName = labels[i].textContent.trim();
        var checkbox = labels[i].querySelector('input[type="checkbox"]');
        
        if (filter_value.includes(categoryName)) {
            checkbox.checked = true; 
        }
        categories.push(categoryName);
    }

});



function clearSearchFromSession() {
    fetch('/products/clear_search_from_session/', {  // Make sure to include the leading slash
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error clearing search value from session');
        }
    })
    .catch(error => {
        console.error(error);
    });
}

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/shop.js' %}" type="text/javascript" ></script>
{% endblock another %}



